<%- include("partials/nav.ejs") %>
<%- include("partials/header.ejs") %>

<div class="row to-do-area">
  <div class="col">

    <form action ="/submit" method="post" class="input-group mb-3">
      <input type="text" class="form-control" name="title" id="title" placeholder="Type your new task"
        aria-label="Task to do">
        <input type="datetime-local" class="input-group-text" name="toDo" id="to Do" value="<%= new Date().toJSON().slice(0,16) %>"
        aria-label="Deadline">

      <button class="btn btn-outline-light" type="submit" id="basic-addon2">+</button>
    </form>

    <% if (locals.sortedTasks) %>

    <% if(locals.tasks) { %>

      <% for(let i = 0; i < locals.tasks.length; i++){ %>

    <div class="input-group mb-3">
      <div class="input-group-text">
        <input id="checkbox-<%= [i] %>" class="form-check-input mt-0 checkbox" type="checkbox" value="" aria-label="Checkbox for following text input">
      </div>
      <input type="text" class="form-control task-text" aria-label="Text input with checkbox" value="<%= locals.tasks[i].task_name %>"
        readonly>
      <input type="text" class="input-group-text task-toDo" aria-label="Date input with checkbox" value="<%= locals.tasks[i].to_do_date.toDateString() %>"
        readonly>
    </div>

        <% }
    }

      else{

        } %>

    <form action="/reset" method="post" class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-danger btn-reset">Reset List</button>
    </form>

  </div>
</div>
</div>

<%- include("partials/footer.ejs") %>